<div class="row">
    <h2 class="slab roxo mt-4 mb-0">Animais para adoção</h2>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-3 mt-0">
      <% if(animais.length==0){ %>
        <ul class="list-group">
          <li class="list-group-item">Você não possui animais cadastrados.</li>
        </ul>
      <% } else { %>
        <%- include('./layouts/maracutaias/animales', {animais, page: page}) %>
      <% } %>
    </div>
</div>