<form action="/cadastro" method="post">
    <h1 class="h3 mb-3 fw-normal fofo slab text-center pb-3 pt-5">Cadastre-se</h1>
    <div class="form-floating">
      <input type="text" name="nome" class="form-control" placeholder="Nome" required>
        <label for="floatingInput">Nome</label>
    </div>
    <div class="form-floating">
      <input type="email" name="email" class="form-control" placeholder="Email" required>
      <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" name="senha" class="form-control" placeholder="Senha" required>
      <label for="floatingPassword">Senha</label>
    </div>
    <div class="form-floating">
      <input type="password" name="senha2" class="form-control" placeholder="Confirmar senha" required>
      <label for="floatingPassword">Confirmar senha</label>
    </div>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <div class="row text-center mt-5 p-3"><a href="/login" class="fofo slab">Já possui conta? Faça login.</a></div>
  </form>