<div class="container-fluid">
    <div class="row">
        <div class="col rounded">
            <div class="row pb-4">
                <div class="col-3">
                    <img src="/media/animal-4085255_1280.jpg" class="img-fluid frame-imgs-home shadow" alt=""
                        style="border-top-left-radius: .5em;">
                </div>
                <div class="col-3">
                    <img src="/media/pexels-anna-shvets-4588065.jpg" class="img-fluid frame-imgs-home shadow" alt="">
                </div>
                <div class="col-3">
                    <img src="/media/bulldog-1047518_1280.jpg" class="img-fluid frame-imgs-home shadow" alt="">
                </div>
                <div class="col-3">
                    <img src="/media/pexels-roshan-kamath-1661179.jpg" class="img-fluid frame-imgs-home shadow" alt=""
                        style="border-top-right-radius: .5em;">
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-3">
                    <img src="/media/pexels-cong-h-1404819.jpg" class="img-fluid frame-imgs-home shadow" alt="">
                </div>
                <div class="col-6">
                    <img src="/media/logobranco1.png" class="img-fluid frame-imgs-home shadow" alt=""></div>
                <div class="col-3">
                    <img src="/media/pexels-pixabay-104827.jpg" class="img-fluid frame-imgs-home shadow" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <img src="/media/pexels-simona-kidriÄ-2607544.jpg" class="img-fluid frame-imgs-home shadow" alt=""
                        style="border-bottom-left-radius: .5em;">
                </div>
                <div class="col-3">
                    <img src="/media/pexels-caio-56733.jpg" class="img-fluid frame-imgs-home shadow" alt="">
                </div>
                <div class="col-3">
                    <img src="/media/pexels-lina-kivaka-1741205.jpg" class="img-fluid frame-imgs-home shadow" alt="">
                </div>
                <div class="col-3">
                    <img src="/media/pexels-pixabay-326012.jpg" class="img-fluid frame-imgs-home shadow" alt=""
                        style="border-bottom-right-radius: .5em;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    
</div>