<h1>PERFIL</h1>
<h2>dados do usuario</h2>
<h2><%- locals.layoutVariables.usuario.nome %></h2>
<h2><%- locals.layoutVariables.usuario.email %></h2>
<h2>animais do usuario</h2>
<h3>configurações</h3>
<a href="/logout" class="btn btn-primary lara">Sair</a>