<div class="row height100 rounded shadow justify-content-center bgwt p-5 slab">
    <h1>Sobre o Adote Um Amigo</h1>
    <p>O Adote Um Amigo é uma plataforma criada para facilitar a adoção de animais na Região Metropolitana de Porto
        Alegre. Através dela, é possível cadastrar animais para adoção e também adotar um animalzinho.</p>
    <p>Para cadastrar um animal, é preciso estar cadastrado no site. Basta clicar no botão "Cadastre-se" e preencher as
        informações necessárias.</p>
    <p>Se você já possui uma conta, basta clicar no botão "Entrar" e inserir os dados de login.</p>
    <p>Para visualizar os animais disponíveis na plataforma, clique no botão "Animais" e filtre a busca como desejar.
    </p>
    <p>Para visualizar o seu perfil, basta clicar na sua foto de perfil no canto superior direito da página.</p>
    <p>Para sair da plataforma, clique no botão "Sair", ao final da página de Perfil.</p>
    <p>O Adote Um Amigo foi criado por Ana Júlia da Silva Bueno.</p>
</div>