<div class="row height100 rounded shadow justify-content-center bgwt p-5 slab">
    <h1 class="roxo">Sobre o Adote Um Amigo</h1>
    <p>O Adote Um Amigo é uma plataforma criada para facilitar a adoção de animais na Região Metropolitana de Porto
        Alegre. </p>
    <p>Através dela, é possível cadastrar animais para adoção e também adotar um animalzinho.</p>
    <h3 class="laranja">Quero cadastrar um animal</h3>
    <p>Para cadastrar um animal, é preciso estar cadastrado no site. Basta clicar no botão "Cadastre-se" e preencher as
        informações necessárias.</p>
    <p>Após o cadastro, basta clicar no botão "Cadastrar Animal" e preencher as informações do animal.</p>

    <p>Se você já possui uma conta, basta clicar no botão "Entrar" e inserir os dados de login.</p>
    <h3 class="laranja">Quero adotar</h3>
    <p>Deseja adotar um animalzinho? Clique no botão "Animais" para visualizar os animais disponíveis na plataforma.
    </p>
    <p></p>
    <p></p>
    <p>O Adote Um Amigo foi criado por Ana Júlia da Silva Bueno.</p>
</div>