<div class="row height100 rounded shadow justify-content-center bgwt p-5">
  <div class="col-8">
    <h1><%- usuario.nome %></h1>
    <h2>Informações pessoais</h2>
    <ul class="list-group">
      <li class="list-group-item">Nome: </li>
      <li class="list-group-item">Cidade: São Paulo</li>
    </ul>
    <h2>Informações de contato</h2>
    <ul class="list-group">
      <li class="list-group-item">E-mail: <%- usuario.email %></li>
      <li class="list-group-item">Telefone: (11) 9999-9999</li>
      <li class="list-group-item">Endereço: Rua A, 123</li>
    </ul>
    <%- include('animaisUser') %>
    
</div>