@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
body {
  background-image: url(../media/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.animalcard {
  transition: transform 0.3s, box-shadow 0.3s;
}
.animalcard:hover {
  transform: scale(1.03);
  img {
    box-shadow: 0 0 15px 0.1px #fff;
  }
}
.fundofofo {
  background-color: #f7f0f0;
}
.fofo {
  color: #f7f0f0;
}
.bgwt {
  background-color: #fff;
}
.height100 {
  height: 100%;
}
.width100 {
  width: 100%;
}
.fundoroxo {
  background-color: #a10aff;
}
.fundolaranja {
  background-color: #ff700a;
}
.botaoroxo {
  background-color: #a10aff;
  border-color: #a10aff;
  --bs-btn-color: #fff;
  --bs-btn-bg: #a10aff;
  --bs-btn-border-color: #a10aff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7a00cc;
  --bs-btn-hover-border-color: #7a00cc;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7a00cc;
  --bs-btn-active-border-color: #7a00cc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a10aff;
  --bs-btn-disabled-border-color: #a10aff;
}
.slab {
  font-family: "Roboto Slab", serif;
}
.roxo {
  color: #a10aff;
}
.laranja {
  color: #ff700a;
}
.lara {
  background-color: #ff700a;
  border-color: #ff700a;
  --bs-btn-color: #fff;
  --bs-btn-bg: ##ff700a;
  --bs-btn-border-color: #ff700a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ce5600;
  --bs-btn-hover-border-color: #ce5600;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f56600;
  --bs-btn-active-border-color: #f56600;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ff700a;
  --bs-btn-disabled-border-color: #ff700a;
}
.form-control {
  border: none;
}
.img-cards {
  height: 15vw;
  object-fit: cover;
}
.frame-imgs-home{
  height: 13vw;
  object-fit: cover;
  width: 100%;
  object-position: center;
}
.card{
  border: none;
}
.card-title{
  margin: 0;
}
#userInfo{
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
}